@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model ResumeProject.Pages.Account.MyProfileModel
@{
    ViewData["Title"] = "My Profile";
}

@section Styles
{
    <link rel="stylesheet" href="~/CSS/navClass.css" asp-append-version="true">
    <link rel="stylesheet" href="~/CSS/tableClass.css" asp-append-version="true">
}

<h2>My Profile</h2>

@if(Model.UserInfo is not null || Model.UserInfo?.Count > 0)
{
    <div class="table-container">
        <table class="styled-table">
            <tbody>
                @foreach(var user in Model.UserInfo)
                {
                    <tr>
                        <td class="label">First Name:</td>
                        <td class="value"> @user.FirstName</td>
                    </tr>
                
                    <tr>
                        <td class="label">Last Name:</td>
                        <td class="value"> @user.LastName</td>
                    </tr>

                    <tr>
                        <td class="label">Email:</td>
                        <td class="value"> @user.Email</td>
                    </tr>

                    <tr>
                        <td class="label">Phone Number:</td>
                        <td class="value"> @user.PhoneNumber</td>
                    </tr>

                    <tr>    
                        <td class="label">Age:</td>
                        <td class="value"> @user.Age</td>
                    </tr>

                    <tr>
                        <td class="label">Date of Birth:</td>
                        <td class="value"> @user.DateOfBirth.ToString("dd-MM-yyyy")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="nav-container" style="width: 200px;">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="/Account/Update">Update Info</a>
            </li>
        </ul>
    </div>
}
else
{
    <p>User information not found</p>
}